
<div class="container" ng-init="init()">

    <form id="form" name="form">     

        <h3><i class="glyphicon glyphicon-pencil"></i> Cadastro de Aluno</h3>
        <hr>

        <div class="alert alert-warning" ng-show="form.$invalid && submitted">
            <strong>Atenção</strong>
            <li ng-show="form.nome.$error.required">Campo <strong>Nome</strong> é obrigatório!</li>            
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label>Código</label>
                <input ng-model="aluno.id" type="text" class="form-control" ng-disabled="true">
            </div>
        </div>    

        <div class="row">
            <div class="form-group col-sm-12">
                <label>Nome</label>
                <input ng-model="aluno.nome" name="nome" required type="text" class="form-control" placeholder="Digite o nome para o aluno">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <label>Banco</label>
                <select ng-model="aluno.curso" name="banco" required class="form-control" ng-options="c.nome for c in cursos track by c.id">
                </select>
            </div>
        </div>

        <div class="row pull-right">
            <div class="form-group col-lg-12 col-sm-12">          
                <button type="submit" ng-click="save()" class="btn btn-success" ng-disabled="loading"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
                <a href="#Aluno/list" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
            </div>
        </div> 
    </form>

</div>